name: CI - Atlas Project Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create .env.dev file from secret
        run: |
          echo "${{ secrets.ENV_DEV }}" > ./Backend-Atlas/.env.dev

      - name: Set up Docker Compose
        run: |
          docker compose version

      - name: Build all services
        run: docker compose build

      - name: Run backend tests
        run: docker compose run --rm test-backend

      - name: Run frontend tests
        run: docker compose run --rm test-frontend
